.btn {
  @include animate(background);
  display: inline-block;
  min-height: auto;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  padding: 15px;

  @include media(">=tablet") {
    min-height: 50px;
    font-size: 15px;
    padding: 15px 28px;
  }
}

.btn-primary {
  background-color: $blue;

  &:hover {
    background-color: darken($blue, 10%);
  }
}

// .btn-secodary {
//   background-color: $warning;

//   &:hover {
//     background-color: darken($warning, 10%);
//   }
// }
